<div class="container">

  <app-page-title [title]="'Categories'"></app-page-title>
    
    <app-custom-button text="Add category" (click)="addCategory()"></app-custom-button>
    <app-custom-button text="Export" (click)="exportTable()"></app-custom-button>
    <app-search-filter (valueChange)="onChangeSearchText($event)"></app-search-filter>

    <nz-table #nzTable [nzData]="this.categoriesToShow" [nzSize]="'small'" nzTableLayout="fixed" class="table table-striped table-hover"
    [nzPageSize]="100" [nzScroll]="{ y: 'calc(93.4vh - 276px)' }">
        <thead class="table-dark">
          <tr>
            <th scope="col" 
            [(nzSortOrder)]="nameColumn.sortOrder!" 
            [nzSortFn]="nameColumn.sortFn!">
              Category Name</th>

            <th scope="col" 
            [(nzSortOrder)]="descriptionColumn.sortOrder!" 
            [nzSortFn]="descriptionColumn.sortFn!">
              Description</th>
              
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of nzTable.data">
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td>
              <div class="button-container">
                <button (click)="editCategory(category.id)">Edit</button>
                <button 
                nz-popconfirm
                nzPopconfirmTitle="Are you sure?"
                (nzOnConfirm)="deleteCategory(category.id)">
                  Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
</div>