<div class="container">
    <button type="submit" class="btn btn-primary" (click)="addCategory()">
        Add category
    </button>
    
    <app-search-filter (valueChange)="onChangeSearchText($event)"></app-search-filter>

    <nz-table #nzTable [nzData]="this.categoriesToShow" [nzSize]="'small'" nzTableLayout="fixed" class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col" 
            [(nzSortOrder)]="nameColumn.sortOrder!" 
            [nzSortFn]="nameColumn.sortFn!">
              Category Name</th>

            <th scope="col" 
            [(nzSortOrder)]="descriptionColumn.sortOrder!" 
            [nzSortFn]="descriptionColumn.sortFn!">
              Description</th>
              
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of nzTable.data">
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td>
              <div class="button-container">
                <button (click)="editCategory(category.id)">Edit</button>
                <button (click)="deleteCategory(category.id)">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
</div>