
.background {
    /* background-color: bisque; */
    /* for development: */ /* background-image: url(/assets/images/radu.jpg); */
    /* for production: */ background-image: url(/frontend/browser/assets/images/radu.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 100vh; 
    /* height: 100%; */
    width: 100%;
    margin: 0; 
    padding: 0; 
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}