
<div class="homeContainer">
    <div [style.background-image]="backgroundImage" class="image"></div>
    <nz-card  [nzBordered]="true" nzTitle="{{ 'SETTINGS' | translate }}" [nzExtra]="actionSetting" class="custom-card">
      <app-parameters></app-parameters>
      <div style="margin: 10px;"></div>
      <app-custom-button text="{{ 'DELETED_BOOKS' | translate }}" (click)="goToDeletedBooks()"></app-custom-button>
    </nz-card>
    <ng-template #actionSetting>
      <span nz-icon nzType="setting"></span>
    </ng-template>
  </div>
