<div class="container">
    <app-page-title [title]="'USERS' | translate"></app-page-title>

    <app-custom-button text="{{ 'ADD_USER' | translate }}" (click)="addUser()"></app-custom-button>
    <app-custom-button text="{{ 'EXPORT' | translate }}" (click)="exportTable()"></app-custom-button>
    <app-search-filter (valueChange)="onChangeSearchText($event)"></app-search-filter>

    <nz-table #nzTable [nzData]="this.usersToShow" nzTableLayout="fixed" [nzSize]="'small'" class="table table-striped table-hover"
    [nzPageSize]="100" [nzScroll]="{ y: 'calc(93.4vh - 276px)' }">
        <thead class="table-dark">
            <tr>

                <th scope="col" 
                [(nzSortOrder)]="nameColumn.sortOrder!" 
                [nzSortFn]="nameColumn.sortFn!">
                    {{ 'NAME' | translate }}</th>

                <th scope="col" 
                [(nzSortOrder)]="emailColumn.sortOrder!" 
                [nzSortFn]="emailColumn.sortFn!">
                    {{ 'EMAIL' | translate }}</th>

                <th scope="col" 
                [(nzSortOrder)]="addressColumn.sortOrder!" 
                [nzSortFn]="addressColumn.sortFn!">
                    {{ 'ADDRESS' | translate }}</th>

                <th scope="col" 
                [(nzSortOrder)]="phoneColumn.sortOrder!" 
                [nzSortFn]="phoneColumn.sortFn!">
                    {{ 'PHONE_NUMBER' | translate }}</th>

                <th scope="col">{{ 'ACTIONS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let user of nzTable.data">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>
                    <div class="button-container">
                        <button (click)="editUser(user.id)">{{ 'EDIT' | translate }}</button>
                        <button 
                        nz-popconfirm
                        nzPopconfirmTitle="{{ 'ARE_YOU_SURE' | translate }}"
                        (nzOnConfirm)="deleteUser(user.id)"
                            >{{ 'DELETE' | translate }}</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>