<div class="container">
    <app-page-title [title]="isEditMode ? ('EDIT_BOOK' | translate) : ('ADD_BOOK' | translate)"></app-page-title>
    <form (ngSubmit)="saveBook()">
        <div class="mainDiv">
            <div class="form-group">
                <label for="title">{{ 'TITLE' | translate }}</label>
                <input [(ngModel)]="book.title" name="title" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="author">{{ 'AUTHOR' | translate }}</label>
                <input [(ngModel)]="book.author" name="author" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="bookNumber">{{ 'BOOK_NUMBER' | translate }}</label>
                <input [(ngModel)]="book.bookNumber" name="bookNumber" type="number" class="form-control" />
            </div>
            <div class="form-group"> 
                <label for="category">{{ 'CATEGORY' | translate }}</label>
                <select [(ngModel)]="book.category.id" name="category" class="form-control" id="category"  required>
                    <option *ngFor="let category of categories; trackBy: trackByCategory" 
                        [ngValue]="category.id"
                        >{{ category.name }}</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="publisher">{{ 'PUBLISHER' | translate }}</label>
                <input [(ngModel)]="book.publisher" name="publisher" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="price">{{ 'PRICE' | translate }}</label>
                <input [(ngModel)]="book.price" name="price" type="number" class="form-control" />
            </div>
            <div class="buttonDiv">
                <app-custom-button text="{{ 'SAVE_BOOK' | translate }}" (click)="true"></app-custom-button>
            </div>
        </div>
    </form>
</div>