<div class="container">
    <app-page-title [title]="isEditMode ? 'Edit Book' : 'Add Book'"></app-page-title>
    <form (ngSubmit)="saveBook()">
        <div class="mainDiv">
            <div class="form-group">
                <label for="title">Title</label>
                <input [(ngModel)]="book.title" name="title" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input [(ngModel)]="book.author" name="author" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="bookNumber">Book Number</label>
                <input [(ngModel)]="book.bookNumber" name="bookNumber" type="number" class="form-control" />
            </div>
            <div class="form-group"> 
                <label for="category">Category</label>
                <select [(ngModel)]="book.category.id" name="category" class="form-control" id="category"  required>
                    <option *ngFor="let category of categories; trackBy: trackByCategory" 
                        [ngValue]="category.id"
                        >{{ category.name }}</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="publisher">Publisher</label>
                <input [(ngModel)]="book.publisher" name="publisher" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input [(ngModel)]="book.price" name="price" type="number" class="form-control" />
            </div>
            <div class="buttonDiv">
                <app-custom-button text="Save book" (click)="true"></app-custom-button>
            </div>
        </div>
    </form>
</div>