
.flag {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    cursor: pointer;
    border: 2px solid transparent;
  }
  
  .flag.selected {
    border-color: #1890ff; 
  }
  
.languageDiv {
    margin-top: 0%;
    color: black;
    margin-bottom: 0%;
}

label {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
