<div>
    <app-custom-button text="Parameters" (click)="showModal()"></app-custom-button>
    <nz-modal [(nzVisible)]="isVisible" [nzOkText]="'Save'" nzTitle="Parameters" (nzOnCancel)="handleCancel()" (nzOnOk)="saveParameters()">
        <ng-container *nzModalContent>
        <div class="form-group" *ngFor="let param of parameters; let i = index">
            <label for="param-{{i}}">{{param.name}}</label>

            <div>
                <nz-input-number 
                    [(ngModel)]="param.value" 
                    name="value-{{i}}" 
                    type="number" 
                    [nzMin]="1" 
                    [nzMax]="365" 
                    [nzStep]="1" 
                    (keydown)="validateNumberInput($event)">
                </nz-input-number>
            </div>
        </div>
        <div class="languageDiv">
            <label>Language</label>
            <div>
                <ng-container #languageInput>
                    <img 
                        [src]="americanFlagIcon" 
                        alt="English" 
                        class="flag" 
                        [class.selected]="selectedLanguage === 'en'" 
                        (click)="setLangValue('en')"
                    />
                    <img 
                        [src]="romanianFlagIcon" 
                        alt="Romanian" 
                        class="flag" 
                        [class.selected]="selectedLanguage === 'ro'" 
                        (click)="setLangValue('ro')"
                    />
                </ng-container>
            </div>
        </div>
        </ng-container>
    </nz-modal>
</div>