button {
    padding: 8px 16px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    /* margin: 1%; */
    margin-left: 1%;
    margin-top: 1%;
    background-color: black;
  }
  
  button:hover {
    opacity: 0.8;
  }