<!-- <table class="table">
  <thead>
    <tr>
      <th *ngFor="let column of listOfColumns">
        {{ column.header }}
        <div *ngIf="column.type === 'text'">
          <input type="text" (input)="filterValues[column.key] = $event.target.value; applyFilters()" />
        </div>
        <div *ngIf="column.type === 'number'">
          <input type="number" (input)="filterValues[column.key] = $event.target.value; applyFilters()" />
        </div>
        <div *ngIf="column.type === 'date'">
          <input type="date" (input)="filterValues[column.key] = $event.target.value; applyFilters()" />
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of listOfDisplayData">
      <td *ngFor="let column of listOfColumns">{{ data[column.key] }}</td>
    </tr>
  </tbody>
</table> -->
