
form {
    display: flex;
    align-items: center; 
    justify-content: center; 
    /* background-color: gray; */
}

.mainDiv {
    width: 50%;
    margin: 1%;
}

.buttonDiv {
    margin-top: 2%;
    text-align: center;
}

label {
    margin-left: 1%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    font-size: 15px;
    /* font-weight: bold; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    min-width: 87%;
    max-width: 87%;
    margin: 0 auto;
  }