<div class="container">
    <app-page-title [title]="'BOOKS' | translate"></app-page-title>

    <app-custom-button text="{{ 'ADD_BOOK' | translate }}" (click)="addBook()"></app-custom-button>
    <app-custom-button text="{{ 'EXPORT' | translate }}" (click)="exportTable()"></app-custom-button>
    <app-search-filter [value]="this.searchedText" (valueChange)="onChangeSearchText($event)"></app-search-filter>
  
    <nz-table id="ExampleTable" #filterTable [nzData]="this.booksToShow" [nzSize]="'small'" nzTableLayout="fixed" class="table table-striped table-hover" 
    [nzPageSize]="100" [nzScroll]="{ y: 'calc(93.4vh - 276px)' }">
        <thead class="table-dark">
            <tr>
                <th scope="col" 
                [(nzSortOrder)]="titleColumn.sortOrder!" 
                [nzSortFn]="titleColumn.sortFn!">
                  {{ 'TITLE' | translate }}</th>

                <th scope="col" 
                [(nzSortOrder)]="authorColumn.sortOrder!" 
                [nzSortFn]="authorColumn.sortFn!">
                  {{ 'AUTHOR' | translate }}</th>

                <th 
                [(nzSortOrder)]="numberColumn.sortOrder!" 
                [nzSortFn]="numberColumn.sortFn!" nzCustomFilter >
                  {{ 'NUMBER' | translate }}
                  <nz-filter-trigger [(nzVisible)]="searchNumberVisible" [nzActive]="searchNumberValue.length > 0" [nzDropdownMenu]="numberSearch">
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>

                <th scope="col" 
                [(nzSortOrder)]="categoryColumn.sortOrder!" 
                [nzSortFn]="categoryColumn.sortFn!">
                  {{ 'CATEGORY' | translate }}</th>

                <th scope="col" 
                [(nzSortOrder)]="publisherColumn.sortOrder!" 
                [nzSortFn]="publisherColumn.sortFn!">
                  {{ 'PUBLISHER' | translate }}</th>

                <th scope="col" 
                [(nzSortOrder)]="priceColumn.sortOrder!" 
                [nzSortFn]="priceColumn.sortFn!">
                  {{ 'PRICE' | translate }}</th>

                <th
                [(nzSortOrder)]="createdAtColumn.sortOrder!" 
                [nzSortFn]="createdAtColumn.sortFn!" nzCustomFilter>
                  {{ 'CREATED' | translate }}
                  <nz-filter-trigger [(nzVisible)]="dateFilterVisible" [nzDropdownMenu]="createdFilter">
                    <span nz-icon nzType="filter"></span>
                  </nz-filter-trigger>
                </th>

              <th scope="col">{{ 'ACTIONS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let book of filterTable.data">
                <td> {{ book.title }} </td>
                <td> {{ book.author }} </td>
                <td> {{ book.bookNumber }} </td>
                <td> {{ book.category.name }} </td>
                <td> {{ book.publisher }} </td>
                <td>{{ book.price > 0 ? book.price : '' }}</td>
                <td> {{ book.createdAt | date:'dd-MM-yyyy'}} </td>
                <!-- HH:mm:ss -->
                <td>
                    <div class="button-container">
                        <button (click)="editBook(book.id)">{{ 'EDIT' | translate }}</button>
                        <button 
                        nz-popconfirm
                        nzPopconfirmTitle="{{ 'ARE_YOU_SURE' | translate }}"
                        (nzOnConfirm)="deleteBook(book.id)">
                          {{ 'DELETE' | translate }}</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <nz-dropdown-menu #numberSearch="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input [(ngModel)]="searchNumberValue" type="number" nz-input placeholder="{{ 'SEARCH_NUMBER' | translate }}"/>
          <button nz-button nzSize="small" nzType="primary" (click)="searchNumber()" class="search-button">{{ 'SEARCH' | translate }}</button>
          <button nz-button nzSize="small" (click)="resetNumber()">{{ 'RESET' | translate }}</button>
        </div>
      </div>
    </nz-dropdown-menu>

    <nz-dropdown-menu #createdFilter="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-range-picker class="rangePicker" [(ngModel)]="this.dateFilterValue"></nz-range-picker>
          <button nz-button nzSize="small" nzType="primary" (click)="searchDateFilter()" class="search-button">{{ 'SEARCH' | translate }}</button>
          <button nz-button nzSize="small" (click)="resetDateFilter()">{{ 'RESET' | translate }}</button>
        </div>
      </div>
    </nz-dropdown-menu>

</div>