<div class="container">
    <!-- <app-custom-button text="Add book" color="blue" (click)="addBook()></app-custom-button> -->
    <button type="submit" class="btn btn-primary" (click)="addBook()">
      Add book
    </button>

    <app-search-filter [value]="this.searchedText" (valueChange)="onChangeSearchText($event)"></app-search-filter>
    
    <nz-table #filterTable [nzData]="this.booksToShow" [nzSize]="'small'" nzTableLayout="fixed" class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col" 
                [(nzSortOrder)]="titleColumn.sortOrder!" 
                [nzSortFn]="titleColumn.sortFn!">
                  Title</th>

                <th scope="col" 
                [(nzSortOrder)]="authorColumn.sortOrder!" 
                [nzSortFn]="authorColumn.sortFn!">
                  Author</th>

                <th 
                [(nzSortOrder)]="numberColumn.sortOrder!" 
                [nzSortFn]="numberColumn.sortFn!" nzCustomFilter >
                  Number
                  <nz-filter-trigger [(nzVisible)]="searchNumberVisible" [nzActive]="searchNumberValue.length > 0" [nzDropdownMenu]="numberSearch">
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>

                <th scope="col" 
                [(nzSortOrder)]="categoryColumn.sortOrder!" 
                [nzSortFn]="categoryColumn.sortFn!">
                  Category</th>

                <th scope="col" 
                [(nzSortOrder)]="publisherColumn.sortOrder!" 
                [nzSortFn]="publisherColumn.sortFn!">
                  Publisher</th>

                <th scope="col" 
                [(nzSortOrder)]="priceColumn.sortOrder!" 
                [nzSortFn]="priceColumn.sortFn!">
                  Price</th>

                <th
                [(nzSortOrder)]="createdAtColumn.sortOrder!" 
                [nzSortFn]="createdAtColumn.sortFn!" nzCustomFilter>
                  Created
                  <nz-filter-trigger [(nzVisible)]="dateFilterVisible" [nzDropdownMenu]="createdFilter">
                    <span nz-icon nzType="search"></span>
                  </nz-filter-trigger>
                </th>
                <!-- [nzActive]="searchNumberValue.length > 0" -->

              <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let book of filterTable.data">
                <td> {{ book.title }} </td>
                <td> {{ book.author }} </td>
                <td> {{ book.bookNumber }} </td>
                <td> {{ book.category.name }} </td>
                <td> {{ book.publisher }} </td>
                <td> {{ book.price }} </td>
                <td> {{ book.createdAt | date:'dd-MM-yyyy'}} </td>
                <!-- HH:mm:ss -->
                <td>
                    <div class="button-container">
                        <button (click)="editBook(book.id)">Edit</button>
                        <button (click)="deleteBook(book.id)">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <nz-dropdown-menu #numberSearch="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input [(ngModel)]="searchNumberValue" type="number" nz-input placeholder="Search number"/>
          <button nz-button nzSize="small" nzType="primary" (click)="searchNumber()" class="search-button">Search</button>
          <button nz-button nzSize="small" (click)="resetNumber()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>

    <nz-dropdown-menu #createdFilter="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <!-- <input [(ngModel)]="searchNumberValue" type="number" nz-input placeholder="Search number"/> -->
          <!-- (ngModelChange)="onChangeDateFilter($event)" -->
          <nz-range-picker class="rangePicker" [(ngModel)]="this.dateFilterValue"></nz-range-picker>
          <button nz-button nzSize="small" nzType="primary" (click)="searchDateFilter()" class="search-button">Search</button>
          <button nz-button nzSize="small" (click)="resetDateFilter()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>

</div>