<header>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <nav>
    <ul class="nav nav-pills bg-light">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/books">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" routerLink="/categories">Categories</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" routerLink="/rents">Rents</a>
      </li>       
    </ul>
  </nav>
</header>