<header>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <nav>
    <ul class="nav nav-pills bg-light">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">{{ 'HOME' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/books">{{ 'BOOKS' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">{{ 'USERS' | translate }}</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" routerLink="/categories">{{ 'CATEGORIES' | translate }}</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" routerLink="/rents">{{ 'RENTS' | translate }}</a>
      </li>       
    </ul>
  </nav>
</header>