
.background {
  background-color: black;
}

/* header {
  height: 5vh;
  background-color: black;
} */

.nav.nav-pills.bg-light {
  background-color: black !important; 
}

.nav.nav-pills.bg-light .nav-link {
  /* color: bisque !important; */
  color: white !important;
  font-size: medium; 
  font-weight: bold;
  font-family:'Courier New', Courier, monospace
}

.nav.nav-pills.bg-light .nav-link:hover {
  color: white !important;
}
