<div class="container">
    <h2>Add Rent</h2>
    <form (ngSubmit)="saveRent()">
        <div class="form-group">
            <label for="number">Book number</label>
            <input [(ngModel)]="bookNumberInput" name="number" type="number" class="form-control" />
        </div>
        <div class="form-group">
            <label for="user">User</label>
            <select [(ngModel)]="rent.user" name="user" class="form-control" id="user" required>
                <option *ngFor="let user of users" [ngValue]="user">{{ user.name }}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">
            Save rent
        </button>
    </form>
</div>