<div class="container">
    <app-page-title [title]="'RENTS' | translate"></app-page-title>

    <app-custom-button text="{{ 'ADD_RENT' | translate }}" (click)="addRent()"></app-custom-button>
    <app-custom-button text="{{ 'EXPORT' | translate }}" (click)="exportRents()"></app-custom-button>
    <app-search-filter [value]="this.searchedText" (valueChange)="onChangeSearchText($event)"></app-search-filter>

    <nz-table #nzTable [nzData]="this.rentsToShow" [nzSize]="'small'" nzTableLayout="fixed" class="table table-striped table-hover"
    [nzPageSize]="100" [nzScroll]="{ y: 'calc(93.4vh - 276px)' }">
        <thead class="table-dark">
            <tr>
                <th scope="col" 
                [(nzSortOrder)]="userColumn.sortOrder!" 
                [nzSortFn]="userColumn.sortFn!">
                    {{ 'USER' | translate }}</th>

                <th scope="col" 
                [(nzSortOrder)]="bookColumn.sortOrder!" 
                [nzSortFn]="bookColumn.sortFn!">
                  {{ 'BOOK' | translate }}</th>

                <th scope="col" 
                [(nzSortOrder)]="bookNumberColumn.sortOrder!" 
                [nzSortFn]="bookNumberColumn.sortFn!" nzCustomFilter>
                    {{ 'BOOK_NUMBER' | translate }}
                    <nz-filter-trigger [(nzVisible)]="searchNumberVisible" [nzActive]="searchNumberValue.length > 0" [nzDropdownMenu]="numberSearch">
                        <span nz-icon nzType="search"></span>
                    </nz-filter-trigger>
                </th>

                <th scope="col" 
                [(nzSortOrder)]="stateColumn.sortOrder!" 
                [nzSortFn]="stateColumn.sortFn!"
                [nzFilterMultiple]="stateColumn.filterMultiple!"
                [nzFilters]="stateColumn.listOfFilter!"
                [nzFilterFn]="stateColumn.filterFn!"
                (nzFilterChange)="onFilterChange($event)">
                  {{ 'STATE' | translate }}</th>

                <th scope="col" 
                [(nzSortOrder)]="createdAtColumn.sortOrder!" 
                [nzSortFn]="createdAtColumn.sortFn!" nzCustomFilter>
                    {{ 'CREATED' | translate }}
                    <nz-filter-trigger [(nzVisible)]="this.dateCreatedFilterVisible" [nzDropdownMenu]="createdFilter">
                        <span nz-icon nzType="filter"></span>
                    </nz-filter-trigger>
                </th>
                
                <th scope="col" 
                [(nzSortOrder)]="finishedAtColumn.sortOrder!" 
                [nzSortFn]="finishedAtColumn.sortFn!" nzCustomFilter>
                    {{ 'FINISHED' | translate }}
                    <nz-filter-trigger [(nzVisible)]="this.dateFinishedFilterVisible" [nzDropdownMenu]="finishedFilter">
                        <span nz-icon nzType="filter"></span>
                    </nz-filter-trigger>
                </th>

                <th scope="col">{{ 'ACTIONS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let rent of nzTable.data">
                <td>{{ rent.user.name }}</td>
                <td>{{ rent.book.title }}</td>
                <td>{{ rent.book.bookNumber}}</td>
                <td [ngClass]="{'late-state': rent.state === 'LATE'}">{{ getTranslatedState(rent.state) }}</td>
                <td>{{ rent.createdAt | date:'dd-MM-yyyy'}}</td>
                <td>{{ rent.finishedAt | date:'dd-MM-yyyy'}}</td>
                <td>
                    <button *ngIf="(rent.state === 'ACTIVE' || rent.state === 'LATE')" 
                    nz-popconfirm
                    nzPopconfirmTitle="{{ 'ARE_YOU_SURE' | translate }}"
                    (nzOnConfirm)="finishRent(rent.id)">{{ 'FINISH' | translate }}</button>

                    <!-- <button 
                        nz-popconfirm
                        nzPopconfirmTitle="Are you sure?"
                        (nzOnConfirm)="deleteBook(book.id)">
                          Delete</button> -->
                </td>
            </tr>
        </tbody>
    </nz-table>

    <nz-dropdown-menu #numberSearch="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
          <div class="search-box">
            <input [(ngModel)]="searchNumberValue" type="number" nz-input placeholder="{{ 'SEARCH_NUMBER' | translate }}"/>
            <button nz-button nzSize="small" nzType="primary" (click)="searchNumber()" class="search-button">{{ 'SEARCH' | translate }}</button>
            <button nz-button nzSize="small" (click)="resetNumber()">{{ 'RESET' | translate }}</button>
          </div>
        </div>
      </nz-dropdown-menu>

    <nz-dropdown-menu #createdFilter="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
            <div class="search-box">
            <nz-range-picker class="rangePicker" [(ngModel)]="this.dateCreatedFilterValue"></nz-range-picker>
            <button nz-button nzSize="small" nzType="primary" (click)="searchCreatedDateFilter()" class="search-button">{{ 'SEARCH' | translate }}</button>
            <button nz-button nzSize="small" (click)="resetCreatedDateFilter()">{{ 'RESET' | translate }}</button>
            </div>
        </div>
    </nz-dropdown-menu>

    <nz-dropdown-menu #finishedFilter="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
            <div class="search-box">
            <nz-range-picker class="rangePicker" [(ngModel)]="this.dateFinishedFilterValue"></nz-range-picker>
            <button nz-button nzSize="small" nzType="primary" (click)="searchFinishedDateFilter()" class="search-button">{{ 'SEARCH' | translate }}</button>
            <button nz-button nzSize="small" (click)="resetFinishedDateFilter()">{{ 'RESET' | translate }}</button>
            </div>
        </div>
    </nz-dropdown-menu>

</div>