/* You can add global styles to this file, and also import other style files */

::ng-deep .mat-dialog-container {
    min-width: 300px;
    min-height: 150px;
    border-radius: 15px;
    padding: 20px;
}
  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
